body {
  background-color: #161513;
}

header {
  background-color: #1E1E1D;
}

.logo {
  color: #4BFFF3;
}

#Skills {
  height: 100vh;
}

.experience-section {
  height: 100vh;
}

.experience {
  display: table-column;
  padding-left: 32px;
  align-items: center;
}

@media (max-width: 480px) {
  .logo {
    display: none;
  }

  .experience-section {
    height: 70vh;
  }

  #Skills {
    height: 70vh;
  }
}

@media (max-width: 820px) {
  #Skills {
    height: 50vh;
  }

  .experience-section {
    height: 50vh;
  }
}

@media (max-width: 1280px) {
  #Skills {
    height: 60vh;
  }

  .experience-section {
    height: 60vh;
  }
}

/*Profile animations*/

.shadow-animate,
.text-shadow-animate {
  animation: shadow-animate 5s infinite;
}

@keyframes shadow-animate {
  50% {
    box-shadow: 0 0 10px rgba(75, 255, 243);
  }

  100% {
    box-shadow: 0 0 10px rgba(247, 81, 129);
  }
}

@keyframes animate-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-image: linear-gradient(90deg, #4BFFF4, #F75181);
  background-size: 200% 100%;
  animation: animate-gradient 5s ease infinite;
}

.border-animate {
  border: 2px solid;
  border-color: #4BFFF4;
  animation: border-animate 10s infinite;
}

@keyframes border-animate {
  50% {
    border-color: #F75181;
  }

  100% {
    border-color: #4BFFF4;
  }
}